
.GridLayoutNoBorder tr.z-row td.z-row-inner, tr.z-row .z-cell,div.z-grid
{
 border: none;
 overflow: hidden;
 zoom: 1;
 background: white;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: none;
}

